---
import { getCollection } from "astro:content";

import ProjectItem from "@/components/projects/ProjectItem.astro";

const allProjects = (await getCollection("projects")).sort(
  (a, b) => b.data.id - a.data.id
);

// Props (limit is optional)
const { limit } = Astro.props;

// Conditionally limit the number of projects
const displayedProjects = limit ? allProjects.slice(0, limit) : allProjects;
---

<ul
  class="xs:grid-cols-1 mt-7 grid justify-center gap-4 sm:grid-cols-2 sm:gap-6 md:gap-8"
>
  {
    displayedProjects.map((project) => (
      <li>
        <ProjectItem entry={project} />
      </li>
    ))
  }
</ul>
