---
import BlogPost from "@/components/blog/PostItem.astro";
import Link from "@/components/common/Link.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const allBlogPosts = posts.reduce((acc, post) => {
  const year = post.data.pubDate.getFullYear().toString();
  const month = (post.data.pubDate.getMonth() + 1).toString().padStart(2, "0");

  if (!acc[year]) {
    acc[year] = {};
  }
  if (!acc[year][month]) {
    acc[year][month] = [];
  }
  acc[year][month].push(post);
  return acc;
}, {});

const years = Object.keys(allBlogPosts).sort(
  (a, b) => parseInt(b) - parseInt(a)
);

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="space-y-12">
    <section class="text-center">
      <p class="text-md mx-auto max-w-2xl font-light">
        Here are my latest blog posts. You can receive them by subscribing to my <Link
          href="/blog/feed.xml"
          class="text-blue-600 hover:underline">RSS feed</Link
        >.
      </p>
    </section>

    <div class="space-y-8">
      {
        years.map((year) => (
          <section class="space-y-6">
            <h2 class="pb-2 font-serif text-2xl font-semibold">{year}</h2>
            {Object.keys(allBlogPosts[year])
              .sort((a, b) => parseInt(b) - parseInt(a))
              .map((month) => (
                <div class="space-y-4">
                  <h3 class="font-serif text-lg font-semibold text-gray-600 dark:text-gray-400">
                    {new Date(
                      parseInt(year),
                      parseInt(month) - 1
                    ).toLocaleString("default", { month: "long" })}
                  </h3>
                  <ul class="space-y-6">
                    {allBlogPosts[year][month].map((post) => (
                      <li>
                        <BlogPost entry={post} />
                      </li>
                    ))}
                  </ul>
                </div>
              ))}
          </section>
        ))
      }
    </div>
  </div>
</BaseLayout>
