@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/InterVariable.woff2") format("woff2");
  }
  @font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
  }

  @font-face {
    font-family: EBGaramondVariable;
    font-style: normal;
    font-weight: 200 800;
    font-display: swap;
    src: url("/fonts/EBGaramondVariable.woff2") format("woff2");
  }
  @font-face {
    font-family: EBGaramondVariable;
    font-style: italic;
    font-weight: 200 800;
    font-display: swap;
    src: url("/fonts/EBGaramondVariable-Italic.woff2") format("woff2");
  }

  body {
    @apply font-sans;
  }
}

html.dark {
  color-scheme: dark;
}

article {
  @apply prose max-w-full dark:prose-invert prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-serif prose-headings:font-semibold;
  @apply prose-headings:text-zinc-800 prose-headings:dark:text-zinc-100;

  p {
    @apply font-sans;
  }
}
