@import "tailwindcss";

@config '../../tailwind.config.mjs';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  @font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/InterVariable.woff2") format("woff2");
  }
  @font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
  }

  @font-face {
    font-family: EBGaramondVariable;
    font-style: normal;
    font-weight: 200 800;
    font-display: swap;
    src: url("/fonts/EBGaramondVariable.woff2") format("woff2");
  }
  @font-face {
    font-family: EBGaramondVariable;
    font-style: italic;
    font-weight: 200 800;
    font-display: swap;
    src: url("/fonts/EBGaramondVariable-Italic.woff2") format("woff2");
  }

  body {
    @apply font-sans;
  }
}

html.dark {
  color-scheme: dark;
}

article {
  @apply prose dark:prose-invert prose-img:mx-auto prose-img:my-auto max-w-full;
  @apply prose-headings:font-serif prose-headings:font-semibold;
  @apply prose-headings:text-zinc-800 dark:prose-headings:text-zinc-100;

  p {
    @apply font-sans;
  }
}
