---
import Rss from "@/components/common/Rss.astro";
import Navigation from "@/components/navigation/Navigation.astro";
import Logo from "@/images/logos/logo-512x512.png";
import { Image } from "astro:assets";
---

<header
  class="mb-12 flex w-full flex-wrap pb-3 text-sm sm:flex-nowrap sm:justify-start">
  <nav
    aria-label="global"
    class="relative mx-auto flex w-full items-center justify-between sm:flex sm:items-center">
    <a aria-label="Header Logo Image" class="flex-none" href="/" mr-6>
      <Image
        alt="Alexandre Mouriec"
        class="h-[32px] w-[32px] rounded-full"
        height="62"
        loading="eager"
        src={Logo}
        width="62"
      />
    </a>
    <div class="flex flex-row items-center justify-center gap-x-5">
      <Navigation />
      <Rss />
    </div>
  </nav>
</header>
