---
import HeaderIcons from "@/components/common/HeaderIcons.astro";
import Navigation from "@/components/navigation/Navigation.astro";
import Logo from "@/images/logos/logo-512x512.png";
import { Image } from "astro:assets";
---

<header class="mb-12 w-full px-6 pb-3">
  <nav
    aria-label="global"
    class="mx-auto flex w-full items-center justify-between sm:flex-nowrap">
    <a aria-label="Header Logo" class="mr-6 flex-none" href="/">
      <Image
        alt="Alexandre Mouriec"
        class="h-8 w-8 rounded-full"
        height="64"
        loading="eager"
        src={Logo}
        width="64"
      />
    </a>
    <div class="flex items-center gap-x-5">
      <Navigation />
      <HeaderIcons />
    </div>
  </nav>
</header>
