---
import Container from "@/components/common/Container.astro";
import HeaderIcons from "@/components/common/HeaderIcons.astro";
import Logo from "@/images/logos/logo-512x512.png";
import { Astronav, MenuIcon, MenuItems } from "astro-navbar";
import { Image } from "astro:assets";

const menuitems = [
  {
    path: "/about",
    title: "About",
  },
  {
    path: "/blog",
    title: "Blog",
  },
  {
    path: "/work",
    title: "Work",
  },
  {
    path: "/projects",
    title: "Projects",
  },
];
---

<Container>
  <header class="mb-4 flex flex-col items-center justify-between sm:flex-row">
    <Astronav>
      <div class="flex w-full items-center justify-between sm:w-auto">
        <a aria-label="Header Logo" class="mr-4 flex-none md:mr-6" href="/">
          <Image
            alt="Alexandre Mouriec"
            class="mb-1 h-8 w-8 rounded-full"
            height="64"
            loading="eager"
            src={Logo}
            width="64"
          />
        </a>
        <div class="block sm:hidden">
          <MenuIcon class="h-6 w-6 text-gray-800" />
        </div>
      </div>

      <MenuItems class="mr-4 hidden w-full sm:flex sm:w-auto">
        <ul class="my-4 flex flex-col gap-4 sm:flex-row sm:gap-3">
          {
            menuitems.map((item, index) => (
              <li class="text-md">
                <a
                  class="text-md mx-0.5 rounded-full px-3 py-2 font-medium hover:bg-black/5 hover:text-zinc-800 dark:hover:bg-zinc-700 dark:hover:text-zinc-100"
                  href={item.path}>
                  <span> {item.title}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
    <HeaderIcons />
  </header>
</Container>
