---
import MoonIcon from "../icons/MoonIcon.astro";
import SunIcon from "../icons/SunIcon.astro";
---

<button aria-label="themeToggle" id="themeToggle">
  <SunIcon />
  <MoonIcon />
</button>

<script>
  // Function to set the theme based on system preference or localStorage
  function setThemeFromPreference() {
    let theme = localStorage.getItem("theme");

    // Check user's system preference if theme is not set
    if (!theme) {
      theme = window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    }

    // Set the theme
    document.documentElement.classList.toggle("dark", theme === "dark");
    localStorage.setItem("theme", theme);
  }

  // Function to toggle the theme
  function toggleTheme() {
    const isDark = document.documentElement.classList.toggle("dark");
    const theme = isDark ? "dark" : "light";
    localStorage.setItem("theme", theme);
  }

  // Apply the theme on page load
  document.addEventListener("astro:page-load", () => {
    setThemeFromPreference();
    document
      .getElementById("themeToggle")
      .addEventListener("click", toggleTheme);
  });

  // Reapply the theme after content swap
  document.addEventListener("astro:after-swap", setThemeFromPreference);
</script>
