---
const { href, label } = Astro.props;
---

<a
  aria-label={label}
  class="text-md mx-0.5 rounded px-3 py-2 font-medium hover:bg-black/5 hover:text-black dark:hover:bg-white/5 dark:hover:text-white"
  href={href}>
  {label}
</a>
