---
import NavigationItem from "@/components/navigation/NavigationItem.astro";

const navigationItems = [
  { href: "/about", label: "About" },
  { href: "/blog", label: "Blog" },
  { href: "/work", label: "Work" },
  { href: "/projects", label: "Projects" },
];
---

<nav>
  {
    navigationItems.map((item) => (
      <NavigationItem href={item.href} label={item.label} />
    ))
  }
</nav>
