---
import Link from "@/components/common/Link.astro";
import Error404Icon from "@/components/icons/Error404Icon.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "404 Not Found";
---

<BaseLayout pageTitle={pageTitle}>
  <Error404Icon />
  <div class="flex flex-col items-center justify-center space-y-6 text-center">
    <p class="font-regular text-md mt-16 opacity-60">
      Oops! It seems like the page you're looking for doesn't exist anymore or
      has been moved.
    </p>

    <div class="flex items-center justify-center gap-4">
      <Link
        aria-label="Go back to previous page"
        class="bg-gray-200 px-4 py-2"
        href="javascript:history.back()">
        Go Back
      </Link>
      <Link
        aria-label="Return to homepage"
        class="bg-blue-500 px-4 py-2 transition"
        href="/">
        Homepage
      </Link>
    </div>
  </div>
</BaseLayout>
