---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "About Me";
const pageSubtitle = "Sharing a bit more about me";
---

<BaseLayout pageSubtitle={pageSubtitle} pageTitle={pageTitle}>
  <div class="space-y-16">
    <section class="content mt-4">
      <article
        class="font-regular mt-6 space-y-4 text-zinc-700 dark:text-zinc-400">
        <p>
          Hi I am Alexandre 👋 I am a Full-Stack developer and graduate in
          Computer Science and Web Development from the IUT of Lannion.
        </p>

        <p>
          Previously, I had the chance to work with amazing companies like
          Crisp, Apitic, Getro and Henge and am currently looking for something
          new.
        </p>

        <p>
          Full-time Curious, I am always excited to discover a new industry or
          topic. In my free time, I am djing and managing a DJ collective which
          I cofounded, hosting house and techno parties in the West of France. I
          also read a lot, build side-projects, and spend time with my close
          ones.
        </p>
      </article>
    </section>
  </div>
</BaseLayout>
