---
import Link from "@/components/common/Link.astro";
import Projects from "@/components/projects/Projects.astro";
import Work from "@/components/work/Work.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "About Me";
const pageSubtitle = "Sharing a bit more about me";
---

<BaseLayout pageSubtitle={pageSubtitle} pageTitle={pageTitle}>
  <div class="space-y-16">
    <section class="prose dark:prose-invert max-w-none">
      <article class="h-card text-md space-y-6 font-light">
        <p>
          I am <Link
            class="p-name u-url u-uid"
            href="https://alexandremouriec.com/"
            rel="me"
          >
            Alexandre Mouriec</Link
          >,
          <span class="p-note"
            ><span class="p-job-title">Full-Stack Developer</span> from <span
              class="p-country-name">France</span
            >, currently based in <span class="p-locality">Rennes</span> and working
            remotely at <Link class="p-org" external href="https://omsandco.com"
              >OMS</Link
            >.
          </span>
        </p>

        <p>
          Previously, I had the chance to work with amazing companies like
          Crisp, Apitic, Getro and Henge.
        </p>

        <p>
          Full-time Curious, I am always excited to discover a new industry or
          topic. In my free time, I am sharing my curation in a format named
          <Link external href="https://links.alexandremouriec.com/" rel="me"
            >Full-Time Curious</Link
          >. I am also djing and managing a DJ collective which I cofounded,
          hosting house and techno parties in the West of France.
        </p>

        <p>
          I also read a lot, build side-projects, and spend time with my close
          ones. You can find me on GitHub at <Link
            class="u-url u-uid p-nickname"
            external
            href="https://github.com/mrcalexandre"
            rel="me">@mrcalexandre</Link
          >, and on Mastodon at <Link
            class="u-url u-uid p-nickname"
            external
            href="https://mamot.fr/@mrcalexandre"
            rel="me">@mrcalexandre@mamot.fr</Link
          >, and obviously on this website where I am trying to build my Indie
          Web presence.
        </p>
      </article>
    </section>

    <section class="space-y-8">
      <div class="flex flex-wrap items-center justify-between gap-y-2">
        <h2 class="font-serif text-2xl font-semibold">Work Experience</h2>
        <Link href="/work" class="text-blue-600 hover:underline"
          >See all work →</Link
        >
      </div>

      <div class="space-y-6">
        <p class="text-md font-light text-gray-600 dark:text-gray-400">
          I have had the chance to work at various exciting companies over the
          years.
        </p>
        <Work limit="3" />
      </div>
    </section>

    <section class="space-y-8">
      <div class="flex flex-wrap items-center justify-between gap-y-2">
        <h2 class="font-serif text-2xl font-semibold">Recent Projects</h2>
        <Link href="/projects" class="text-blue-600 hover:underline"
          >See all projects →</Link
        >
      </div>
      <Projects limit="4" />
    </section>
  </div>
</BaseLayout>
