---
import Logo from "@/images/logos/logo-512x512.png";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="content mt-4 leading-relaxed">
    <p class="animate">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Eget dolor morbi non
      arcu risus quis varius. Et netus et malesuada fames ac turpis. Eget felis
      eget nunc lobortis. Phasellus vestibulum lorem sed risus. In nibh mauris
      cursus mattis molestie a iaculis. Cras pulvinar mattis nunc sed blandit
      libero volutpat
    </p>

    <p class="animate">
      Viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor.
      Tincidunt dui ut ornare lectus sit. Sapien et ligula ullamcorper
      malesuada. Pharetra magna ac placerat vestibulum lectus mauris ultrices
      eros in. Lectus magna fringilla urna porttitor rhoncus dolor purus non. Id
      interdum velit laoreet id donec ultrices tincidunt arcu non. At tempor
      commodo ullamcorper a lacus vestibulum sed.
    </p>
  </section>
</BaseLayout>
