---
import Link from "@/components/common/Link.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "Colophon";
const pageSubtitle = "How this website was built";
---

<BaseLayout pageSubtitle={pageSubtitle} pageTitle={pageTitle}>
  <div class="space-y-16">
    <section class="content mt-4">
      <article class="mt-6 space-y-4 font-light">
        <h2 class="font-serif text-xl font-semibold">Technologies</h2>
        <p>
          I use <Link external href="https://astro.build/">Astro</Link> to generate
          the <b>static files</b> for this site. Version control and backups are
          managed through <Link
            external
            href="https://github.com/mrcalexandre/alexandremouriec.com/"
            >GitHub</Link
          >, which also handles deployment via GitHub Pages, supported by <Link
            external
            href="https://github.com/mrcalexandre/alexandremouriec.com/actions"
            >custom GitHub Actions</Link
          > I’ve configured. For styling and layout, I rely on <Link
            external
            href="https://tailwindcss.com/">Tailwind CSS</Link
          >, which helps me build various components and pages on this website.
          All my blog posts are written in <b>Markdown</b> to follow the <Link
            external
            href="https://stephango.com/file-over-app">file over app</Link
          >
          principle. Assets are optimized using <Link
            external
            href="https://imageoptim.com/">ImagOptim</Link
          > for images, and converted in the webbp format by Astro at build time.
        </p>

        <h2 class="font-serif text-xl font-semibold">Accessibility</h2>
        <p>
          This topic is still a <i>work in progress</i> for me, so this website will
          be my playground to improve on accessibility. To make this progress transparent,
          I am currently checking and improving using <Link
            external
            href="https://wave.webaim.org/report#/alexandremouriec.com"
          >
            WAVE by WebAIM</Link
          >.
        </p>

        <h2 class="font-serif text-xl font-semibold">Sustainability</h2>
        <p>
          I try to make my website as light as I can, with the tools I want to
          use.
          <b> 0.06 g of CO2</b> is produced when someone visits the homepage. This
          is <b>cleaner than 95 % of all web pages globally</b>. This website is
          also running on <b>sustainable energy</b>, by being hosted on GitHub
          servers. Everything can be checked on <Link
            external
            href="https://www.websitecarbon.com/website/alexandremouriec-com/"
            >Website Carbon</Link
          >.
        </p>

        <h2 class="font-serif text-xl font-semibold">Privacy</h2>
        <p>
          <b>This website doesn't track you and respects your privacy.</b>
        </p>
        <p>
          There’s no data collection, no ads, no affiliate links, and no
          third-party tracking. You won’t find any pop-ups or intrusive elements
          like modal windows here either. On the privacy aspect, this can be
          verified using <Link
            external
            href="https://themarkup.org/blacklight?location=eu&device=desktop&force=false&url=alexandremouriec.com/"
            >The Markup</Link
          >.
        </p>
        <p>
          I am using <Link external href="https://github.com/shaarli/Shaarli/"
            >Shaarli</Link
          > for my curation, where there is also no data collection, no ads, no affiliate
          links, and no third-party tracking. But since I am sharing links to other
          websites, these websites might be doing data collection.

          <h2 class="font-serif text-xl font-semibold">Typography</h2>
          <p>
            I chose two fonts for this website. Both of them are self-hosted for
            privacy and performance, and are in their variant version. Headers
            are set in <Link
              external
              href="http://www.georgduffner.at/ebgaramond/index.html/"
            >
              EB Garamond by Georg Duffner</Link
            >. Body is set in <Link external href="https://rsms.me/inter/"
              >Inter by Rasmus Andersson</Link
            >.
          </p>
        </p>
      </article>
    </section>
  </div>
</BaseLayout>
