---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "Colophon";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="content mt-4">
    <p class="animate">
      Viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor.
    </p>
    <ul class="mt-4 list-disc">
      <li class="">Astro for the framework</li>
      <li>Tailwind CSS for styling</li>
      <li>Content managed in Markdown</li>
      <li>Hosted on Vercel</li>
    </ul>
  </section>
</BaseLayout>
