---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "Contact Me";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="mx-auto px-5 py-8">
    <form
      action="https://formspree.io/f/xvovrbod"
      class="group flex flex-wrap"
      method="post">
      <div class="w-full p-3 lg:w-1/2">
        <label class="block text-sm font-medium" for="name">Name</label>
        <input
          class="form-input mt-1 block w-full rounded-lg border border-dashed px-3 py-3 duration-300 ease-out focus:border-neutral-300 focus:outline-hidden group-hover:border-neutral-300 dark:focus:border-neutral-600 dark:group-hover:border-neutral-600 sm:text-sm"
          id="name"
          name="name"
          placeholder="Name"
          required
          type="text"
        />
        <p class="mt-2 text-sm text-red-600" id="name-error"></p>
      </div>

      <div class="w-full p-3 lg:w-1/2">
        <label class="block text-sm font-medium" for="email">Email</label>
        <input
          class="form-input mt-1 block w-full rounded-lg border border-dashed px-3 py-3 duration-300 ease-out focus:border-neutral-300 focus:outline-hidden group-hover:border-neutral-300 dark:focus:border-neutral-600 dark:group-hover:border-neutral-600 sm:text-sm"
          id="email"
          name="_replyto"
          placeholder="Email"
          required
          type="email"
        />
        <p class="mt-2 text-sm text-red-600" id="email-error"></p>
      </div>

      <div class="w-full p-3">
        <label class="block text-sm font-medium" for="message">Message</label>
        <textarea
          class="form-textarea mt-1 block w-full rounded-lg border border-dashed px-3 py-3 duration-300 ease-out focus:border-neutral-300 focus:outline-hidden group-hover:border-neutral-300 dark:focus:border-neutral-600 dark:group-hover:border-neutral-600 sm:text-sm"
          id="message"
          name="message"
          placeholder="Write your message here ..."
          required
          rows="8"></textarea>
        <p class="mt-2 text-sm text-red-600" id="message-error"></p>
      </div>

      <div class="flex w-full justify-center p-3">
        <input
          class="cursor-pointer rounded-sm border px-8 py-1.5 shadow-xs transition duration-300 hover:bg-gray-100 dark:hover:bg-gray-700"
          type="submit"
          value="Send"
        />
      </div>
    </form>
  </div>
</BaseLayout>
