---
import BlogPosts from "@/components/blog/BlogPosts.astro";
import Link from "@/components/common/Link.astro";
import Projects from "@/components/projects/Projects.astro";
import Work from "@/components/work/Work.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1
    class="font-regular pb-2 font-serif text-2xl italic text-zinc-800 dark:text-zinc-100">
    Hi, I'm Alexandre <span class="text-xl not-italic">👋</span>
  </h1>
  <p
    class="dark:text-slate-450 font-regular font-serif text-lg italic text-slate-400">
    Full-Stack Developer & Full-Time Curious
  </p>
  <div class="space-y-16">
    <section class="content mt-4 space-y-8">
      <article
        class="font-regular h-card mt-6 space-y-4 text-zinc-700 dark:text-zinc-400">
        <p>
          I am <Link
            class="p-name u-url u-uid"
            href="https://alexandremouriec.com/"
            rel="me">
            Alexandre Mouriec</Link
          >,
          <span class="p-note"
            ><span class="p-job-title">Full-Stack developer</span> from <span
              class="p-country-name">France</span
            >, currently based in <span class="p-locality">Rennes</span>
          </span>

          <p>
            Previously, I had the chance to work with amazing companies like
            Crisp, Apitic, Getro and Henge and am currently looking for
            something new.
          </p>

          <p>
            Full-time Curious, I am always excited to discover a new industry or
            topic. In my free time, I am djing and managing a DJ collective
            which I cofounded, hosting house and techno parties in the West of
            France. I also read a lot, build side-projects, and spend time with
            my close ones. You can find me on GitHub at <Link
              class="u-url u-uid p-nickname"
              href="https://github.com/mrcalexandre"
              rel="me">@mrcalexandre</Link
            > and this website where I am trying to build my Indie Web presence.
          </p>
        </p>
      </article>

      <section class="space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2
            class="font-serif text-xl font-semibold text-zinc-800 dark:text-zinc-100">
            Latest Posts
          </h2>
          <Link href="/blog"> See all posts </Link>
        </div>
        <BlogPosts />
      </section>

      <section class="space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2
            class="font-serif text-xl font-semibold text-zinc-800 dark:text-zinc-100">
            Work Experience
          </h2>
          <Link href="/work"> See all work </Link>
        </div>
        <section class="mx-auto my-8 mt-8 flex-col sm:flex sm:gap-8">
          <h2 class="mb-4 opacity-60 sm:mb-0">
            I have had the chance to work at various exciting companies over the
            years.
          </h2>
          <div>
            <Work limit="3" />
            <a
              class="group mt-6 inline-flex w-full items-center justify-center gap-2 rounded-md bg-zinc-50 px-3 py-2 text-sm font-medium text-zinc-900 outline-offset-2 transition hover:bg-zinc-100 active:bg-zinc-100 active:text-zinc-900/60 active:transition-none dark:bg-zinc-600/50 dark:text-zinc-300 dark:hover:bg-zinc-600 dark:hover:text-zinc-50 dark:active:bg-zinc-600/50 dark:active:text-zinc-50/70"
              href="https://kdrive.infomaniak.com/app/share/1247749/e07325e1-160f-42ae-a0c8-7722811139af"
              target="_blank"
              >Download CV <svg
                class="right-8 top-4 size-4 rotate-90 fill-none stroke-current stroke-2"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <line
                  class="translate-x-2 scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100"
                  x1="5"
                  x2="19"
                  y1="12"
                  y2="12"></line>
                <polyline
                  class="-translate-x-1 transition-transform duration-300 ease-in-out group-hover:translate-x-0"
                  points="12 5 19 12 12 19"></polyline>
              </svg>
            </a>
          </div>
        </section>

        <section class="space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2
              class="font-serif text-xl font-semibold text-zinc-800 dark:text-zinc-100">
              Recent Projects
            </h2>
            <Link href="/projects"> See all projects </Link>
          </div>
          <Projects limit="4" />
        </section>
      </section>
    </section>
  </div>
</BaseLayout>
