---
import BlogPosts from "@/components/blog/BlogPosts.astro";
import CurrentlyReadingBooks from "@/components/common/CurrentlyReadingBooks.astro";
import Link from "@/components/common/Link.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="mx-auto max-w-4xl py-8">
    <header>
      <h1
        class="pb-2 font-serif text-3xl font-medium italic"
        style="contain: layout style paint;">
        Hi, I'm Alexandre <span class="text-3xl not-italic">👋</span>
      </h1>
      <h2
        class="font-serif text-xl font-light opacity-80"
        style="contain: layout style paint;">
        Full-Stack Developer & Full-Time Curious
      </h2>
    </header>

    <div class="space-y-8">
      <section class="prose dark:prose-invert max-w-none">
        <article class="h-card text-md space-y-6 font-light">
          <p>
            I am <Link
              class="p-name u-url u-uid"
              external
              href="https://mamot.fr/@mrcalexandre"
              rel="me">
              Alexandre Mouriec</Link
            >,
            <span class="p-note"
              ><span class="p-job-title">Full-Stack Developer</span> from
              <span class="p-country-name">France</span>, currently based in <span
                class="p-locality">Rennes</span
              >
              and working remotely at <Link
                class="p-org"
                external
                href="https://omsandco.com">OMS</Link
              >.
            </span>
          </p>
          <p>
            I am a curious person, always looking for new things to learn and
            share. My current focus is on taking back control of my devices and
            software, and to build my own tools to make my life easier.
          </p>
        </article>
      </section>

      <section class="space-y-8">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-serif text-2xl font-semibold">Currently Reading</h2>
          <Link class="text-blue-600 hover:underline" href="/books"
            >See all books →</Link
          >
        </div>
        <CurrentlyReadingBooks />
      </section>

      <section class="space-y-8">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-serif text-2xl font-semibold">Latest Posts</h2>
          <Link class="text-blue-600 hover:underline" href="/blog"
            >See all posts →</Link
          >
        </div>
        <BlogPosts />
      </section>
    </div>
  </main>
</BaseLayout>
