---
import NewsletterSubscribe from "@/components/common/NewsletterSubscribe.astro";
import NewsletterItem from "@/components/newsletter/NewsletterItem.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const allNewsletters = (await getCollection("newsletters")).sort(
  (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
);

const pageTitle = "Newsletter";
const pageSubtitle = "Receive my curation bimonthly";
---

<BaseLayout pageSubtitle={pageSubtitle} pageTitle={pageTitle}>
  <div class="space-y-8">
    <NewsletterSubscribe />
    <div class="space-y-4">
      {
        (
          <ul class="flex flex-col gap-4">
            {allNewsletters.map((post) => (
              <li>
                <NewsletterItem entry={post} />
              </li>
            ))}
          </ul>
        )
      }
    </div>
  </div>
</BaseLayout>
