---
import Projects from "@/components/projects/Projects.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="space-y-16">
    <section class="content mt-4">
      <article class="text-md space-y-4 font-light">
        <p>
          I have built various projects over the years, to practice my skills
          but especially to use them to solve problems.
        </p>
      </article>
    </section>

    <div class="space-y-4">
      <Projects />
    </div>
  </div>
</BaseLayout>
