---
import Projects from "@/components/projects/Projects.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="space-y-16">
    <section class="content mt-4">
      <article class="space-y-4 font-medium">
        <p class="animate">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget dolor
          morbi non arcu risus quis varius. Et netus et malesuada fames ac
          turpis.
        </p>
      </article>
    </section>

    <div class="space-y-4">
      <Projects />
    </div>
  </div>
</BaseLayout>
