---
import Work from "@/components/work/Work.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "Work";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="space-y-16">
    <section class="content mt-4">
      <article class="space-y-4 font-medium">
        <p class="animate">
          I have had the chance to work at various exciting companies over the
          years so here they are.
        </p>
      </article>
    </section>

    <div class="space-y-4">
      <Work />
    </div>
  </div>
</BaseLayout>
