---
import Posts from "@/components/common/Posts.astro";
import Link from "@/components/common/Link.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const allNewsletters = (await getCollection("newsletters")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const pageTitle = "Newsletter";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="space-y-12">
    <section class="text-center">
      <p class="text-md mx-auto max-w-3xl font-light">
        Here are my latest newsletters. You can receive them by subscribing to
        my <Link
          href="/newsletter/feed.xml"
          class="text-blue-600 hover:underline">RSS feed</Link
        >.
      </p>
    </section>

    <Posts
      entries={allNewsletters}
      basePath="/newsletter"
      showEmptyMessage={true}
      emptyMessage="No newsletters yet. Check back soon!"
    />
  </div>
</BaseLayout>
