---
import FormattedDate from "@/components/common/FormattedDate.astro";

const { entry } = Astro.props;
---

<a
  class="border-zinc/15 hover:bg-zinc/5 h-entry u-url group relative flex items-center gap-4 rounded-lg border border-dashed px-4 py-3 shadow-sm transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-zinc-800 dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-zinc-100"
  href={`/blog/${entry.slug}/`}>
  <div class="flex flex-1 flex-col truncate">
    <div class="p-name text-md truncate font-serif font-semibold">
      {entry.data.title}
    </div>
    <div class="text-md e-content truncate text-gray-600 dark:text-gray-400">
      {entry.data.description}
    </div>
  </div>

  <div class="text-sm italic text-gray-800 dark:text-zinc-100">
    <FormattedDate class="dt-published" date={entry.data.pubDate} />
  </div>

  <svg
    class="-ml-4 h-5 w-5 fill-none stroke-current stroke-2 transition-transform duration-300 ease-in-out group-hover:translate-x-1"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg">
    <line
      class="translate-x-3 scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100"
      x1="5"
      x2="19"
      y1="12"
      y2="12"></line>
    <polyline
      class="-translate-x-1 transition-transform duration-300 ease-in-out group-hover:translate-x-0"
      points="12 5 19 12 12 19"></polyline>
  </svg>
</a>
