---
import BlogPostItem from "@/components/blog/BlogPostItem.astro";
import { getCollection } from "astro:content";

const allBlogPosts = await getCollection("posts");
---

<ul class="flex flex-col gap-2">
  {
    allBlogPosts.map((post) => (
      <li>
        <BlogPostItem entry={post} />
      </li>
    ))
  }
</ul>
