---
import { getBooksData } from "@/utils/books.js";

import BookCard from "./BookCard.astro";

const { currentlyReading } = await getBooksData();
---

{
  currentlyReading.length > 0 && (
    <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 sm:gap-6 md:grid-cols-4 md:gap-8 lg:grid-cols-4">
      {currentlyReading.map((book) => (
        <BookCard book={book} />
      ))}
    </div>
  )
}
