---
import Icon from "@/components/common/Icon.astro";
import FormattedDate from "@/components/common/FormattedDate.astro";

const { lastModified, publishedDate, readingTime } = Astro.props;
---

<div class="mt-2 space-y-2 text-sm">
  <div class="flex items-center space-x-2">
    <Icon name="calendar" class="h-4 w-4" />

    <a class="u-url no-underline" href={Astro.url}>
      {
        publishedDate && (
          <span>
            Published on{" "}
            <FormattedDate class="dt-published" date={publishedDate} />
            &bull;
          </span>
        )
      }
      <span>Updated on {lastModified}</span>
    </a>
  </div>

  {
    readingTime && (
      <div class="flex items-center space-x-2">
        <Icon name="clock" class="h-4 w-4" />
        <span>{readingTime}</span>
      </div>
    )
  }

  {
    publishedDate && (
      <a
        class="flex items-center space-x-2 text-blue-600 hover:underline dark:text-blue-300"
        href="/blog/feed.xml"
      >
        <Icon name="rss" class="h-4 w-4" />
        <span>Subscribe via RSS</span>
      </a>
    )
  }
</div>
