---
import FormattedDate from "@/components/common/FormattedDate.astro";
import Icon from "@/components/common/Icon.astro";

const { lastModified, publishedDate, readingTime } = Astro.props;

const formattedLastModified = lastModified ? new Date(lastModified) : null;
const formattedPublishedDate = publishedDate ? new Date(publishedDate) : null;
---

<div class="space-y-3 text-sm text-zinc-600 dark:text-zinc-400">
  <div class="flex items-center gap-2">
    <Icon class="h-4 w-4 text-zinc-500 dark:text-zinc-500" name="calendar" />

    <a
      class="u-url no-underline transition-colors hover:text-zinc-800 dark:hover:text-zinc-200"
      href={Astro.url}
    >
      {
        formattedPublishedDate && (
          <span>
            Published on{" "}
            <FormattedDate
              class="dt-published font-medium"
              date={formattedPublishedDate}
            />
            {formattedLastModified && " • "}
          </span>
        )
      }
      {
        formattedLastModified && (
          <span>
            Updated on{" "}
            <FormattedDate class="font-medium" date={formattedLastModified} />
          </span>
        )
      }
    </a>
  </div>

  {
    readingTime && (
      <div class="flex items-center gap-2">
        <Icon class="h-4 w-4 text-zinc-500 dark:text-zinc-500" name="clock" />
        <span>{readingTime}</span>
      </div>
    )
  }

  {
    formattedPublishedDate && (
      <a
        class="flex items-center gap-2 text-blue-600 transition-colors hover:underline dark:text-blue-300"
        href="/blog/feed.xml"
      >
        <Icon class="h-4 w-4" name="rss" />
        <span>Subscribe via RSS</span>
      </a>
    )
  }
</div>
