---
import Icon from "./Icon.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="buttons flex gap-2">
  <a
    aria-label="RSS feeds for Alexandre"
    class="flex h-9 w-9 items-center justify-center rounded-full border border-gray-200 p-2 transition-colors duration-300 ease-in-out hover:bg-gray-100 hover:stroke-gray-600 dark:border-white/25 dark:hover:bg-white/20 dark:hover:stroke-white"
    href="/feeds"
  >
    <Icon name="rss" class="h-5 w-5" />
  </a>
  <ThemeIcon />
</div>
