---
import Link from "@/components/common/Link.astro";
import Icon from "@/components/common/Icon.astro";
---

<div class="mx-auto max-w-3xl py-8">
  <h2 class="mb-4 text-xl font-semibold dark:text-zinc-100">
    Subscribe to <Link external href="https://fulltimecurious.substack.com"
      >Full-Time Curious</Link
    >
  </h2>
  <p class="mb-6 font-light text-gray-700 dark:text-gray-300">
    Subscribe to receive the latest updates from the Full-Time Curious
    newsletter.
  </p>

  <form
    action="https://fulltimecurious.substack.com/subscribe"
    class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4"
    method="get"
    target="_blank"
  >
    <div class="grow">
      <input
        class="form-input w-full rounded-lg border border-dashed bg-white px-4 py-3 text-gray-900 placeholder-gray-600 transition duration-300 ease-out focus:border-gray-300 focus:outline-none sm:text-sm dark:bg-gray-800 dark:text-gray-100 dark:placeholder-gray-400 dark:focus:border-gray-600"
        id="email"
        name="email"
        placeholder="Enter your email"
        required
        type="email"
      />
    </div>

    <button
      class="cursor-pointer rounded-lg bg-blue-600 px-5 py-3 text-white shadow-xs transition duration-300 ease-out hover:bg-blue-700 focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 focus:outline-none dark:focus:ring-offset-gray-900"
      type="submit"
    >
      Subscribe
    </button>
  </form>

  <div class="mt-6">
    <a
      href="https://fulltimecurious.substack.com/feed"
      target="_blank"
      rel="noopener noreferrer"
    >
      <button
        class="flex w-full items-center justify-center space-x-2 rounded-lg border px-4 py-3 text-gray-900 shadow-xs transition duration-300 ease-out hover:bg-gray-100 focus:ring-2 focus:ring-gray-300 focus:outline-none dark:text-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        type="button"
      >
        <Icon name="rss" class="h-4 w-4" />
        <span>Subscribe to RSS</span>
      </button>
    </a>
  </div>
</div>
