---
import ThemeIcon from "../layout/ThemeIcon.astro";
import RssIcon from "../icons/RssIcon.astro";
---

<div class="buttons right-0 flex gap-2">
  <a
    aria-label={`Rss feed for Alexandre`}
    class="size-9 items-center justify-center rounded-full border border-black/10 bg-transparent stroke-current p-2 transition-colors duration-300 ease-in-out hover:bg-black/5 hover:stroke-black dark:border-white/25 dark:hover:bg-white/20 hover:dark:stroke-white md:flex"
    href="/feed/"
    target="_blank">
    <RssIcon />
  </a>

  <ThemeIcon />
</div>
