---
import RssIcon from "./RssIcon.astro";
---

<a
  aria-label="RSS feeds for Alexandre"
  class="flex h-9 w-9 items-center justify-center rounded-full border border-zinc-200 p-2 transition-colors duration-300 ease-in-out hover:bg-zinc-100 hover:stroke-zinc-600 dark:border-white/25 dark:hover:bg-white/20 dark:hover:stroke-white"
  href="/feeds">
  <RssIcon />
</a>
