<a
  aria-label="RSS feed for Alexandre"
  class="flex h-9 w-9 items-center justify-center rounded-full border border-zinc-200 p-2 transition-colors duration-300 ease-in-out hover:bg-zinc-100 hover:stroke-zinc-600 dark:border-white/25 dark:hover:bg-white/20 dark:hover:stroke-white"
  href="/feed"
  target="_blank">
  <svg
    class="feather feather-rss h-full w-full"
    fill="none"
    stroke="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg">
    <path d="M4 11a9 9 0 0 1 9 9"></path>
    <path d="M4 4a16 16 0 0 1 16 16"></path>
    <circle cx="5" cy="19" r="1"></circle>
  </svg>
</a>
