---
import Container from "@/components/common/Container.astro";
import Footer from "@/components/layout/Footer.astro";
import Head from "@/components/layout/Head.astro";
import Header from "@/components/layout/Header.astro";
import "@/styles/app.css";

const { pageSubtitle, pageTitle } = Astro.props;
---

<html lang="en">
  <Head
    description="Alexandre Mouriec's personal website"
    title="Alexandre Mouriec"
  />
  <body
    class="bg-light dark:bg-dark flex min-h-screen flex-col items-center justify-center">
    <main
      class="mb-12 flex w-full max-w-4xl flex-grow flex-col items-center py-8 text-sm leading-relaxed">
      <Header />
      {
        pageTitle && (
          <h1 class="prose mx-auto font-serif text-3xl font-semibold tracking-tight text-zinc-900 lg:prose-lg xl:prose-xl 2xl:prose-2xl dark:text-zinc-100 md:text-4xl">
            {pageTitle}
          </h1>
        )
      }
      {
        pageSubtitle && (
          <p class="dark:text-slate-450 font-serif text-base italic leading-7 text-slate-400">
            {pageSubtitle}
          </p>
        )
      }
      <Container>
        <slot />
      </Container>
    </main>
    <Footer />
  </body>
</html>
