---
import dayjs from "dayjs";
import timezone from "dayjs/plugin/timezone";
import utc from "dayjs/plugin/utc";

import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;

dayjs.extend(utc);
dayjs.extend(timezone);

const lastModified = dayjs(frontmatter.lastModified)
  .utc()
  .tz("Europe/Paris")
  .format("MMMM DD YYYY HH:mm:ss");
---

<BaseLayout>
  <section class="mx-auto mb-12 max-w-4xl px-4 leading-normal sm:px-6">
    <div>
      <section class="mx-auto pt-4">
        <article
          class="prose mx-auto text-zinc-900 prose-table:table-fixed dark:text-neutral-100">
          <div
            class="mx-auto mt-0 flex max-w-5xl flex-col justify-between sm:flex-row sm:items-center">
            <div class="leading-loose">
              {
                frontmatter.title && (
                  <h1 class="leading-tighter dark: mx-auto font-serif text-3xl font-semibold tracking-tighter text-zinc-900 lg:prose-lg xl:prose-xl 2xl:prose-2xl dark:text-zinc-100 md:text-4xl">
                    {frontmatter.title}
                  </h1>
                )
              }
              {
                frontmatter.subtitle && (
                  <p class="dark:text-slate-450 font-regular font-serif text-base italic leading-7 text-slate-400">
                    {frontmatter.subtitle}
                  </p>
                )
              }
            </div>
          </div>
          <slot class="prose" />
          <div
            class="animate font-regular prose prose-sm flex items-center gap-1.5 text-gray-800 dark:text-gray-300">
            <span>
              Last updated on {lastModified.toString().slice(0, 12)}
            </span>
          </div>
        </article>
      </section>
    </div>
  </section>
</BaseLayout>
