---
import dayjs from "dayjs";
import timezone from "dayjs/plugin/timezone";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);
dayjs.extend(timezone);

import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;

const lastModified = dayjs(frontmatter.lastModified)
  .utc()
  .tz("Europe/Paris")
  .format("MMMM DD YYYY HH:mm:ss");
---

<BaseLayout>
  <section class="mx-auto mb-12 max-w-screen-sm">
    <div>
      <section class="mx-auto pt-4">
        <article class="mx-auto text-zinc-900 dark:text-neutral-100">
          <div>
            <div>
              {
                frontmatter.title && (
                  <h1 class="mx-auto font-serif text-3xl font-semibold tracking-tight text-zinc-900 dark:text-zinc-100 md:text-4xl">
                    {frontmatter.title}
                  </h1>
                )
              }
              {
                frontmatter.subtitle && (
                  <p class="dark:text-slate-450 font-serif text-base italic text-slate-400">
                    {frontmatter.subtitle}
                  </p>
                )
              }
            </div>
          </div>
          <slot />
          <div
            class="font-regular flex items-center gap-1.5 text-gray-800 dark:text-gray-300">
            <span>
              Last updated on {lastModified.toString().slice(0, 12)}
            </span>
          </div>
        </article>
      </section>
    </div>
  </section>
</BaseLayout>
