---
import dayjs from "dayjs";
import timezone from "dayjs/plugin/timezone";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);
dayjs.extend(timezone);

import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;

const lastModified = dayjs(frontmatter.lastModified)
  .utc()
  .tz("Europe/Paris")
  .format("MMMM DD YYYY HH:mm:ss");
---

<BaseLayout>
  <section class="mx-auto mb-12 max-w-screen-sm">
    <div>
      <section class="mx-auto">
        <article>
          <div>
            <div
              class="mx-auto mb-12 flex w-full flex-grow flex-col items-center text-sm">
              {
                frontmatter.title && (
                  <h1 class="prose mx-auto mb-0 font-serif text-3xl font-semibold tracking-tight text-zinc-900 lg:prose-lg xl:prose-xl 2xl:prose-2xl dark:text-zinc-100 md:text-4xl">
                    {frontmatter.title}
                  </h1>
                )
              }
              {
                frontmatter.subtitle && (
                  <p class="dark:text-slate-450 mt-0 font-serif text-base italic text-slate-400">
                    {frontmatter.subtitle}
                  </p>
                )
              }
            </div>
          </div>
          <slot />
          <div class="text-sm text-gray-500 dark:text-neutral-400">
            <span>
              Last updated on {lastModified.toString().slice(0, 12)}
            </span>
          </div>
        </article>
      </section>
    </div>
  </section>
</BaseLayout>
