---
import Container from "@/components/common/Container.astro";
import Footnote from "@/components/common/Footnote.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import dayjs from "dayjs";
import timezone from "dayjs/plugin/timezone";
import utc from "dayjs/plugin/utc"; //

dayjs.extend(utc);
dayjs.extend(timezone);

const { frontmatter } = Astro.props;

const lastModified = dayjs(frontmatter.lastModified)
  .tz("Europe/Paris")
  .format("MMMM DD, YYYY");
---

<BaseLayout pageSubtitle={frontmatter.subtitle} pageTitle={frontmatter.title}>
  <Container>
    <div
      class="prose dark:prose-invert prose-headings:font-serif prose-p:font-light prose-li:font-light prose-ul:font-light prose-headings:mb-2 prose-headings:text-zinc-800 text-md font-sans leading-relaxed text-zinc-700 dark:text-zinc-300">
      <slot />
    </div>
    <hr class="my-6 border-zinc-300 dark:border-zinc-600" />
    <Footnote lastModified={lastModified} />
  </Container>
</BaseLayout>
