---
import dayjs from "dayjs";

import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;

const lastModified = dayjs(frontmatter.lastModified)
  .utc()
  .tz("Europe/Paris")
  .format("DD MMMM YYYY HH:mm:ss");
---

<BaseLayout>
  <section class="mx-auto mb-12 max-w-4xl px-4 leading-normal sm:px-6">
    <div>
      <section class="mx-auto pt-4">
        <article
          class="prose mx-auto text-zinc-900 prose-table:table-fixed dark:text-neutral-100">
          <header>
            <div
              class="mx-auto mt-0 flex max-w-5xl flex-col justify-between sm:flex-row sm:items-center">
              <div class="leading-loose">
                <div
                  class="leading-tighter mx-auto font-serif text-3xl font-semibold tracking-tighter text-zinc-900 md:text-4xl">
                  {frontmatter.title}
                </div>
                <p
                  class="dark:text-slate-450 font-regular font-serif text-base italic leading-7 text-slate-400">
                  {frontmatter.subtitle}
                </p>
              </div>
            </div>
          </header>
          <slot class="prose" />
          <div
            class="animate font-regular prose prose-sm flex items-center gap-1.5 text-gray-800 dark:text-gray-300">
            <span>
              Last updated on {lastModified.toString().slice(0, 12)}
            </span>
          </div>
        </article>
      </section>
    </div>
  </section>
</BaseLayout>
