---
import WorkItem from "@/components/work/WorkItem.astro";
import { getCollection } from "astro:content";

const allJobs = (await getCollection("jobs")).sort(
  (a, b) => a.data.id - b.data.id
);

// Props (limit is optional)
const { limit } = Astro.props;

// Conditionally limit the number of jobs
const displayedJobs = limit ? allJobs.slice(0, limit) : allJobs;
---

<ul class="group grid grid-cols-1">
  {
    displayedJobs.map((job) => (
      <li key={job.id}>
        <WorkItem entry={job} />
      </li>
    ))
  }
</ul>
