---
import WorkItem from "@/components/work/WorkItem.astro";
import ApiticLogo from "@/images/logos/apitic.jpg";
import CrispLogo from "@/images/logos/crisp.png";
import GetroLogo from "@/images/logos/getro.webp";

const work = {
  description: `I've worked with a variety of technologies and tools to build cool things. Here are some of the projects I've worked on.`,
  items: [
    {
      company: {
        image: CrispLogo,
        name: "Crisp",
        url: "https://crisp.chat/en/",
      },
      date: "April 2021 - March 2024",
      id: 1,
      title: "Full-Stack Developer",
    },
    {
      company: {
        image: ApiticLogo,
        name: "Apitic",
        url: "https://apitic.com/",
      },
      date: "September 2019 - September 2020",
      id: 2,
      title: "Full-Stack Developer",
    },
    {
      company: {
        image: GetroLogo,
        name: "Getro",
        url: "https://getro.com/",
      },
      date: "April 2019 - August 2019",
      id: 2,
      title: "Front-End Developer Intern",
    },
  ],
};
---

<div class="group grid grid-cols-1">
  {work.items.map((item) => <WorkItem {...item} />)}
</div>
